.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 100%;
    padding: 1%;
    position: fixed;
    background-color: rgb(0, 43, 96);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    border-radius: 8px;
    padding: 4%;
}

.sidebar li {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
}

.sidebar li:hover {
    background-color: cornflowerblue;
    color: white;
}