body {
    background-color: #f0f4f8; 
    margin: 30px;             
    font-family: Arial, sans-serif;
}

.presentation {
    display: flex;
    justify-content: center;
    width: 100%;
}

.presentation h1 {
    margin: 1% auto 0 auto; 
}

.presentation p {
    margin: 1%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    margin-bottom: 1%;
}

.navbar {
    width: 50%;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0; 
    margin: 0; 
}

.navbar ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(145, 210, 231);
    transition: font-size 0.3s ease;
}

a:hover {
    color: rgb(116, 169, 187);
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
}

img {
    margin-bottom: 5%;
}

/* Estilos para formulario */

h2 {
    color: #333;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-top: 15px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
